@import url('https://fonts.googleapis.com/css?family=Cabin|Oxygen&display=swap');

body {
    font-family: Cabin, Oxygen, sans-serif;
    background-image: url("../images/DJI_0729.JPG");
    background-size: cover;
}
main {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(66, 69, 117, 0.12);
    border-radius: 0.5em;
}
#title {
    text-align: center;
    color: #273759;

    padding-top: 2em;
}

h1 {
    font-size: 6em;
}
h2 {
    font-size: 3em;
}

nav {
    text-align: center;
}
nav a {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.15em 0.3em 0.15em 0.3em;
}
#links {
    margin-top: 6em;
}
a:link, a:visited {
    color: #C69EA9;
    text-decoration: none;
    font-size: 4em;
}
a:hover {
    background-color: rgba(66, 69, 117, 0.2);
    border-radius: 0.2em;
}