/* Lab 3 style sheet */
fieldset {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16pt;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px solid #616161;
    background-color: #F5F5F5;
}
legend {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
    background-color: #616161;
    color: white;
    font-size: 24pt;
    font-weight: bold;
}
fieldset div {
    border: 1px solid #616161;
    margin-bottom: 1em;
}
#search-filter {
    background-color: #E0E0E0;
    padding: 1em;
}
#search-filter p {
    text-align: center;
}
#search-bar {
    width: 300px;
}
#drop-menu {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
#form-table {
    padding: 1em 2em 1em 2em;
    background-color: #EEEEEE;
}
table {
    width: 100%;
    border-collapse: collapse;
}
caption {
    font-size: 1.2em;
    background-color: #BDBDBD;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}
thead {
    background-color: #E0E0E0;
}
th {
    text-align: left;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
tbody tr {
    border-top: 1px solid #616161;
}
tr td {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
tbody tr:hover {
    background-color: darkslategray;
    color: #EEEEEE;
}
tbody tr:hover .thumbnail {
    border-color: #E0E0E0;
}
.thumbnail {
    border: 1px solid #616161;
    padding: 0.2em;
}