/* Coolors Exported Palette - coolors.co/9cadd1-88c9e2-8796b5-ff8e9b-d7e5ef */

/* HSL */
$color1: hsla(221%, 37%, 72%, 1);
$color2: hsla(197%, 61%, 71%, 1);
$color3: hsla(220%, 24%, 62%, 1);
$color4: hsla(353%, 100%, 78%, 1);
$color5: hsla(205%, 43%, 89%, 1);

/* RGB */
$color1: rgba(156, 173, 209, 1);
$color2: rgba(136, 201, 226, 1);
$color3: rgba(135, 150, 181, 1);
$color4: rgba(255, 142, 155, 1);
$color5: rgba(215, 229, 239, 1);